<div class="container-fluid">

	<h1 class="row-fluid">Emergency</h1>

	<div class="row-fluid">
		<form class="form-search">
		  <div class="input-append">
		    <input type="text" class="search-query" placeholder="Search for facility">
		    <button type="submit" class="btn">Search</button>
		  </div>
		</form>
	</div>
	
	<div class="row-fluid">
		<div id="emergency-map-canvas" class="span12" style="height:300px;"></div>
	</div>
	
</div>