<div class="row-fluid">

	<div class="span5">		

    <h2>Care Circle</h2>
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="3">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Robert Smith</td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Send Message"><i class="icon-envelope-alt"></i></a></td>
          <td><a href="#" class="show-tooltip"  data-toggle="tooltip" title="Move to Concern Circle"><i class="icon-exchange"></i></a></td>
          <td><a href="" class="show-tooltip"  data-toggle="tooltip" title="Remove Member"><i class="icon-trash"></i></a></td>
        </tr>
        <tr>
          <td>Mary Brown</td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Send Message"><i class="icon-envelope-alt"></i></a></td>
          <td><a href="#" class="show-tooltip"  data-toggle="tooltip" title="Move to Concern Circle"><i class="icon-exchange"></i></a></td>
          <td><a href="" class="show-tooltip"  data-toggle="tooltip" title="Remove Member"><i class="icon-trash"></i></a></td>
        </tr>
        <tr>
          <td>Michael Campbell</td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Send Message"><i class="icon-envelope-alt"></i></a></td>
          <td><a href="#" class="show-tooltip"  data-toggle="tooltip" title="Move to Concern Circle"><i class="icon-exchange"></i></a></td>
          <td><a href="" class="show-tooltip"  data-toggle="tooltip" title="Remove Member"><i class="icon-trash"></i></a></td>
        </tr>
        <tr>
          <td>Patricia Williams</td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Send Message"><i class="icon-envelope-alt"></i></a></td>
          <td><a href="#" class="show-tooltip"  data-toggle="tooltip" title="Move to Concern Circle"><i class="icon-exchange"></i></a></td>
          <td><a href="" class="show-tooltip"  data-toggle="tooltip" title="Remove Member"><i class="icon-trash"></i></a></td>
        </tr>
        <tr>
          <td>William Jones</td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Send Message"><i class="icon-envelope-alt"></i></a></td>
          <td><a href="#" class="show-tooltip"  data-toggle="tooltip" title="Move to Concern Circle"><i class="icon-exchange"></i></a></td>
          <td><a href="" class="show-tooltip"  data-toggle="tooltip" title="Remove Member"><i class="icon-trash"></i></a></td>
        </tr>
        <tr>
          <td>William Bond</td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Send Message"><i class="icon-envelope-alt"></i></a></td>
          <td><a href="#" class="show-tooltip"  data-toggle="tooltip" title="Move to Concern Circle"><i class="icon-exchange"></i></a></td>
          <td><a href="" class="show-tooltip"  data-toggle="tooltip" title="Remove Member"><i class="icon-trash"></i></a></td>
        </tr>
      </tbody>
    </table>

	</div>
	<div class="offset1 span6">
	
		<h2>Concern Circle</h2>
		
		<table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="3">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Elizabeth Adams</td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Send Message"><i class="icon-envelope-alt"></i></a></td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Move to Care Circle"><i class="icon-exchange"></i></a></td>
          <td><a href="" class="show-tooltip" data-toggle="tooltip" title="Remove Member"><i class="icon-trash"></i></a></td>
        </tr>
        <tr>
          <td>John Wilson</td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Send Message"><i class="icon-envelope-alt"></i></a></td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Move to Care Circle"><i class="icon-exchange"></i></a></td>
          <td><a href="" class="show-tooltip" data-toggle="tooltip" title="Remove Member"><i class="icon-trash"></i></a></td>
        </tr>
        <tr>
          <td>James Martin</td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Send Message"><i class="icon-envelope-alt"></i></a></td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Move to Care Circle"><i class="icon-exchange"></i></a></td>
          <td><a href="" class="show-tooltip" data-toggle="tooltip" title="Remove Member"><i class="icon-trash"></i></a></td>
        </tr>
        <tr>
          <td>David Patel</td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Send Message"><i class="icon-envelope-alt"></i></a></td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Move to Care Circle"><i class="icon-exchange"></i></a></td>
          <td><a href="" class="show-tooltip" data-toggle="tooltip" title="Remove Member"><i class="icon-trash"></i></a></td>
        </tr>
        <tr>
          <td>Jennifer Taylor</td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Send Message"><i class="icon-envelope-alt"></i></a></td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Move to Care Circle"><i class="icon-exchange"></i></a></td>
          <td><a href="" class="show-tooltip" data-toggle="tooltip" title="Remove Member"><i class="icon-trash"></i></a></td>
        </tr>
        <tr>
          <td>Linda Wong</td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Send Message"><i class="icon-envelope-alt"></i></a></td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Move to Care Circle"><i class="icon-exchange"></i></a></td>
          <td><a href="" class="show-tooltip" data-toggle="tooltip" title="Remove Member"><i class="icon-trash"></i></a></td>
        </tr>
        <tr>
          <td>David Campbell</td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Send Message"><i class="icon-envelope-alt"></i></a></td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Move to Care Circle"><i class="icon-exchange"></i></a></td>
          <td><a href="" class="show-tooltip" data-toggle="tooltip" title="Remove Member"><i class="icon-trash"></i></a></td>
        </tr>
        <tr>
          <td>Barbara Williams</td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Send Message"><i class="icon-envelope-alt"></i></a></td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Move to Care Circle"><i class="icon-exchange"></i></a></td>
          <td><a href="" class="show-tooltip" data-toggle="tooltip" title="Remove Member"><i class="icon-trash"></i></a></td>
        </tr>
        <tr>
          <td>Richard Jones</td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Send Message"><i class="icon-envelope-alt"></i></a></td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Move to Care Circle"><i class="icon-exchange"></i></a></td>
          <td><a href="" class="show-tooltip" data-toggle="tooltip" title="Remove Member"><i class="icon-trash"></i></a></td>
        </tr>
        <tr>
          <td>Susan Moore</td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Send Message"><i class="icon-envelope-alt"></i></a></td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Move to Care Circle"><i class="icon-exchange"></i></a></td>
          <td><a href="" class="show-tooltip" data-toggle="tooltip" title="Remove Member"><i class="icon-trash"></i></a></td>
        </tr>
        <tr>
          <td>Joseph Clark</td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Send Message"><i class="icon-envelope-alt"></i></a></td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Move to Care Circle"><i class="icon-exchange"></i></a></td>
          <td><a href="" class="show-tooltip" data-toggle="tooltip" title="Remove Member"><i class="icon-trash"></i></a></td>
        </tr>
        <tr>
          <td>Margaret Lewis</td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Send Message"><i class="icon-envelope-alt"></i></a></td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Move to Care Circle"><i class="icon-exchange"></i></a></td>
          <td><a href="" class="show-tooltip" data-toggle="tooltip" title="Remove Member"><i class="icon-trash"></i></a></td>
        </tr>
        <tr>
          <td>James Robinson</td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Send Message"><i class="icon-envelope-alt"></i></a></td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Move to Care Circle"><i class="icon-exchange"></i></a></td>
          <td><a href="" class="show-tooltip" data-toggle="tooltip" title="Remove Member"><i class="icon-trash"></i></a></td>
        </tr>
        <tr>
          <td>Jessica Walker</td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Send Message"><i class="icon-envelope-alt"></i></a></td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Move to Care Circle"><i class="icon-exchange"></i></a></td>
          <td><a href="" class="show-tooltip" data-toggle="tooltip" title="Remove Member"><i class="icon-trash"></i></a></td>
        </tr>
        <tr>
          <td>Dorothy Hall</td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Send Message"><i class="icon-envelope-alt"></i></a></td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Move to Care Circle"><i class="icon-exchange"></i></a></td>
          <td><a href="" class="show-tooltip" data-toggle="tooltip" title="Remove Member"><i class="icon-trash"></i></a></td>
        </tr>
        <tr>
          <td>Sarah Wright</td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Send Message"><i class="icon-envelope-alt"></i></a></td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Move to Care Circle"><i class="icon-exchange"></i></a></td>
          <td><a href="" class="show-tooltip" data-toggle="tooltip" title="Remove Member"><i class="icon-trash"></i></a></td>
        </tr>
        <tr>
          <td>Karen King</td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Send Message"><i class="icon-envelope-alt"></i></a></td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Move to Care Circle"><i class="icon-exchange"></i></a></td>
          <td><a href="" class="show-tooltip" data-toggle="tooltip" title="Remove Member"><i class="icon-trash"></i></a></td>
        </tr>
        <tr>
          <td>Nancy Scott</td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Send Message"><i class="icon-envelope-alt"></i></a></td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Move to Care Circle"><i class="icon-exchange"></i></a></td>
          <td><a href="" class="show-tooltip" data-toggle="tooltip" title="Remove Member"><i class="icon-trash"></i></a></td>
        </tr>
        <tr>
          <td>Betty Green</td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Send Message"><i class="icon-envelope-alt"></i></a></td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Move to Care Circle"><i class="icon-exchange"></i></a></td>
          <td><a href="" class="show-tooltip" data-toggle="tooltip" title="Remove Member"><i class="icon-trash"></i></a></td>
        </tr>
        <tr>
          <td>Lisa Baker</td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Send Message"><i class="icon-envelope-alt"></i></a></td>
          <td><a href="#" class="show-tooltip" data-toggle="tooltip" title="Move to Care Circle"><i class="icon-exchange"></i></a></td>
          <td><a href="" class="show-tooltip" data-toggle="tooltip" title="Remove Member"><i class="icon-trash"></i></a></td>
        </tr>
      </tbody>
    </table>
		
	</div>
	
</div>
	
