<div class="row-fluid">

	<div class="span5">		

    <h2>Care Circle</h2>
    
    <table class="table table-hover">
      <!--
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      -->
      <tbody>
        <tr>
          <td>James Bond</td>
        </tr>
        <tr>
          <td>James Bond</td>
        </tr>
        <tr>
          <td>James Bond</td>
        </tr>
        <tr>
          <td>James Bond</td>
        </tr>
        <tr>
          <td>James Bond</td>
        </tr>
      </tbody>
    </table>

	</div>
	<div class="offset1 span6">
	
		<h2>Concern Circle</h2>
		
		<table class="table table-hover">
      <!--
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      -->
      <tbody>
        <tr>
          <td>James Bond</td>
        </tr>
        <tr>
          <td>James Bond</td>
        </tr>
        <tr>
          <td>James Bond</td>
        </tr>
        <tr>
          <td>James Bond</td>
        </tr>
        <tr>
          <td>James Bond</td>
        </tr>
      </tbody>
    </table>
		
	</div>
	
</div>
	
