<div class="jumbotron">
  <h1>Welcome to Wellmark Home!</h1>
  <p class="lead">You've just been released from the hospital. You're probably overwhelmed. Friends and family want updates on your progress, there are confusing medication instructions, and you need help around the house.</p>
  <%= link_to 'Sign up today', new_user_registration_path, { :class => "btn btn-large btn-success" } %> or <%= link_to 'Sign in', new_user_session_path %>
  
</div>

<hr>

<div class="row-fluid marketing">
  <div class="span6">
    <h4>Recovery Fear/Overwhelmed?</h4>
    <p>Use HOME to facilitate a stress free recovery from the comfort of the member's house.</p>

    <h4>Social Support (F&amp;F)</h4>
    <p>Bring friends and family together in a personal, private social network.</p>

    <h4>Home Help & Caregivers</h4>
    <p>Send a trusted helper or licensed caregiver to the member's house at a discounted price.</p>
  </div>

  <div class="span6">
    <h4>Medication Management & Instructions</h4>
    <p>Enter medical information once and we'll send out daily reminders to keep informed and on-track.</p>

    <h4>Transporation</h4>
    <p>Need to get to the doctor, pickup groceries, or otherwise get out of the house?</p>

    <h4>Care Cost &amp; Coverage</h4>
    <p>Having on-going issues that require assistance. We can help with that too.</p>
  </div>
</div>