<%= simple_form_for([@care_circle,@chart]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :care_circle %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
