<h1>Listing care_circles</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @care_circles.each do |care_circle| %>
      <tr>
        <td><%= link_to 'Show', care_circle %></td>
        <td><%= link_to 'Edit', edit_care_circle_path(care_circle) %></td>
        <td><%= link_to 'Destroy', care_circle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Care circle', new_care_circle_path %>
