// Place all the styles related to the CareCircles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#activities-list {

  .media {
    //padding: 5px 10px;
        
    &.medication {
      padding: 5px 10px;
  	  background:#ffd8d8;
  	}
  	
  	&.status {
  	  .media-body {
  	    padding:5px 10px;
    	  background:#cce0ff;
      }
  	}
  	
  	&.appointment {
    	
  	}
  	
  	&.note {
    	
  	} 
  }
	
}