// Place all the styles related to the myWellmark controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  &.logo {
    padding:0 0 20px 0;
  }
  &.claims {
  	width:632px;
  	height:231px;
    //padding:0 0 10px 0;
  }
  &.facility {
  	width:322px;
		height:608px;
    //padding:0 5px 0 0;
  }
  &.messages {
  	width:312px;
  	height:332px;
    //padding:0 0 0 0;
  }
}